
    /* navbar */
    #logo {
      padding: 2px 3px;
      color: red;
      font-weight: 500;
      text-transform: uppercase;
      background-color: aliceblue;
      border: 1px solid blueviolet;
      border-radius: 3px;
    }

    /* main */

    .book {
      margin: 10px 0;
      display: flex;
    }

    .book:first-child {
      margin-top: 0;
    }

    .book:last-child {
      margin-bottom: 0;
    }

    .book-img {
      background-color: violet;
      width: 150px;
      height: 180px;
      border:1px solid slateblue;
    }

    .book-img img {
      width: 100%;
      height: 100%;
    }

    .book-des {
      width: 100%;
      background-color: aliceblue;
      padding: 10px;
      border:1px solid slateblue;
      border-left:0;
    }

    .book-des .book-title {
      font-size: 30px;
    }

    @media (max-width:768px) {
      .book {
        margin: 15px 0;
        flex-wrap: wrap;
        flex-direction: column;
      }

      .book-img {
        width: 100%;
        height: 250px;
        padding: 6px 0;
        background-color: rgb(204, 160, 245);
      }

      .book-img img {
        width: 170px;
        height: 100%;
        display: block;
        margin: auto;
      }

      .book-des{
        border-left:1px solid slateblue;
        border-top:0;
      }

      .book-des .book-title {
        padding: 10px 0;
        font-size: 25px;
      }

      .book-des .btn {
        display: block;
        font-size: 25px;
      }
    }

    /* pagination */

    .pagination {
      justify-content:center;
    }
 
    .pagination .page-item a{
        padding:10px !important;
        margin:0 5px;
        border-radius:5px !important;
    }

    .pagination .page-item a span{
        font-size:20px;
        font-weight:500;
    }

    .pagination svg {
      width: 32px;
      height: 32px;
      fill: #F56040;
    }
