    /* navbar */
    #logo {
        padding: 2px 3px;
        color: red;
        font-weight: 500;
        text-transform: uppercase;
        background-color: aliceblue;
        border: 1px solid blueviolet;
        border-radius: 3px;
      }
      .selected-book{
          background-color:aliceblue;
          display:flex;
      }
      .selected-book .book-img{
          width:200px;
          height:auto;
          border:1px solid slateblue;
      }
      .selected-book .book-img img{
          width:100%;
          height:100%;
      }
      .selected-book .book-des{
          width:100%;
          padding:10px;
          border:1px solid slateblue;
          border-left:0;
      }
      .selected-book .book-des .book-title{
          font-size:30px;
      }
      .selected-book-action{
          display:flex;
          border:1px solid slateblue;
          border-top:0;
          background-color: aliceblue;
      }
      .selected-book-action > div{
          padding:10px 0;
          flex-grow:2;
          text-align: center;
      }
      .selected-book-action > div:first-child{
        border-right:1px solid slateblue;
      }
      .box-ad{
          background-color:aliceblue;
          height:277px;
          border:1px solid slateblue;
          display:flex;
          justify-content:center;
      }

      @media (max-width:767px) {
        .selected-book{
            flex-wrap: wrap;
            flex-direction: column;
        }
        .selected-book .book-img{
            width:100%;
            height:auto;
            padding: 6px 0;
            background-color: rgb(204, 160, 245);
            border:1px solid slateblue;
            border-bottom:0;
        }
        .selected-book .book-img img{
            width:200px;
            height:100%;
            display: block;
            margin: auto;
        }
        .selected-book .book-des{
            width:100%;
            padding:10px;
            border:1px solid slateblue;
            border-left:1px solid slateblue;
        }
        .selected-book .book-des .book-title{
            font-size:25px;
        }
        .selected-book-action{
            margin-bottom:30px;
            display:flex;
            border:1px solid slateblue;
            border-top:0;
        }
      }

      /* related-book */

      .related-book{
        margin-top:30px;
      }

      .related-book .book {
        margin: 10px 0;
        display: flex;
      }
  
      .related-book .book:first-child {
        margin-top: 0;
      }
  
      .related-book .book:last-child {
        margin-bottom: 0;
      }
  
      .related-book .book-img {
        background-color: violet;
        width: 150px;
        height: 180px;
        border:1px solid slateblue;
      }
  
      .related-book .book-img img {
        width: 100%;
        height: 100%;
      }
  
      .related-book .book-des {
        width: 100%;
        background-color: aliceblue;
        padding: 10px;
        border:1px solid slateblue;
        border-left:0;
      }
  
      .related-book .book-des .book-title {
        font-size: 30px;
      }
  
      @media (max-width:768px) {
        .related-book .book {
          margin: 15px 0;
          flex-wrap: wrap;
          flex-direction: column;
        }
  
        .related-book .book-img {
          width: 100%;
          height: 250px;
          padding: 6px 0;
          background-color: rgb(204, 160, 245);
        }
  
        .related-book .book-img img {
          display: block;
          margin: auto;
          width: 170px;
          height: 100%;
        }
  
        .related-book .book-des{
          border-left:1px solid slateblue;
          border-top:0;
        }
  
        .related-book .book-des .book-title {
          padding: 10px 0;
          font-size: 25px;
        }
  
        .related-book .book-des .btn {
          display: block;
          font-size: 25px;
        }
      }
  